@charset "utf-8";
/* CSS Document */

/* Import fonts from Google */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700);
/*https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i&display=swap*/

*{


box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */
	
}


html, body{
	height: 100%;
}
body { 
	z-index: 9 ;
	margin:0;
	background-color:#F2EEEE;
	
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	font-size:1.2em;
	margin: 0;
    
}
#bodyblanco{
	
	background-color:#fff !important;
	
}

/*.principallogin {
   position:absolute;  
    top: 50%;  
    left: 50%;  
    width:30em;  
    height:18em;  
    margin-top: -15em; 
    margin-left: -15em; 
	max-width:100%;
	 background-color: #fff; 
	 float:left;
    
}*/
.principallogin {
  width:100%;
    
}

.principallogins {
    margin: 0 auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 30em;
    height: 18em;
    /* margin-top: -15em; */
    /* margin-left: -15em; */
    max-width: 100%;
}
.contenedor-principal-login {
    background-color: #fff;
    width: 100%;
    float: left;
    height: auto;
}
.login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}
.logo{
	margin: 2em 0;
}
.logo img{
	width:65%;
	height:65%;
	min-width:200px;
}
.cajalogin{
	/*width:100%;*/
	border:1px #979797 solid;
	background-color:#F6F6F6;
	padding:1.5em 5em;
	text-align:justify;
	float:left;
	
}
.titulo-campo{
	font-weight:600;
	/*padding:0.5em 0em !important;*/
	
}
.control-texto{
    box-shadow: none;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
    border: 1px solid #9e9e9e;
	padding: 4px;
	margin:1em 0;
	font-family: 'Muli', sans-serif;
	
    
}
.control-texto-buscar{
    box-shadow: none;
    display: block;
    width: 100%;
    height: 65px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
	border:0;
    border: 1px solid #979797;
	padding: 4px;
	margin:1em 0;
	
    
}

.control-select-buscar{
	box-shadow: none;
    display: block;
    width: 100%;
    height: 65px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #d8d8d8;
    border: 1px solid #979797;
	padding: 4px;
	margin:1em 0;
	color:#000;
}
.control-select-buscar option { color:#999; background-color:#fff; }
select.control-select-buscar option:hover { color:yellow; background-color:red; }

select.control-select-buscar option:not(:checked) { 
    background-color: #e8e8e8; 
    color:#fff;
	padding:2em;
	;
}
input
{
	font-family: 'Muli', sans-serif;
	}

.boton-azul{
	background-color:#1996FF;
	border:0;
	border-bottom: 0.3em #0F87EC solid;
    padding: 0.6em 0px 0.4em 0;
    width: 100% !important;
    color: #fff;
    cursor: pointer;
	margin:0.8em 0;
	border-radius: 0.2em;
    -moz-border-radius: 0.2em;
	font-size:1em;
	/*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    -webkit-appearance: none;
	
}


.boton-azul:hover{
	background-color:#EC6E00;
	border-bottom: 0.3em #D56500 solid;
	
	
}

.boton-azul-ver{
	background-color:#1996FF;
	border:0;
	/*border-bottom: 0.3em #0F87EC solid;*/
    padding: 0.6em 0px 0.6em 0;
    width: 80% !important;
    color: #fff;
    cursor: pointer;
	margin:0.8em 0;
	border-radius: 8px;
    -moz-border-radius: 8px;
	font-size:1em;
	-webkit-appearance: none;
	
}
.boton-azul-ver:hover{
	background-color:#EC6E00;
	/*border-bottom: 0.3em #D56500 solid;*/
	
	
}
.padding-top1{
	padding-top:1em !important;
}

a{
	color:#000;
	text-decoration:none	
}
a:hover{
	color:#E90C2F;
	text-decoration:underline;
	
}

.contenedor-principal {
   /* background-color: #ccc;*/
    width: 100%;
    float: left;
   /* height: 100%;*/
	display:table;
	display:flex;
	flex-wrap: wrap;
}
.contenedor-header{
	background-color:#fff;
	display:flex;
	flex-flow: rowrap;
	justify-content: space-between;
	width:100%;
	padding:0.3em 2em;
	z-index:500;
	
}
.logoheader{
	
}
.logoheader img{
	width:80%;
	max-width:200px;
	
	
}
.salir {
	padding-top:0.8em;
    

	
	
}
.contenedor-contenido {
   /* background-color: #ccc;*/
    width: 100%;
    float: left;
   /* height: 100%;*/
	display:flex;
	/*flex: 0 0 22%;
	max-width:22%;
	flex-wrap: wrap;*/
}
.menu-izquierda{
	background-color:#000;
	float: left;
	color:#D8D8D8;
	padding: 2em 1em;
	position:relative;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	font-weight:300;
	font-size:1em;
	/*display:table-cell;*/
	min-height: 100vh!important;
	flex: 0 0 22%;
	max-width:22%;
	box-sizing: border-box;
	z-index: 200;
}
.div-persona{
	margin:0 auto;
	float:left;
	width:100%;
	text-align:center;
	display:inline-block;

}
.foto-persona{
	display:inline-block;
	padding-bottom:1.2em;
	float:left;
	width:100%;
	
}
.descripcion-persona{
	display:inline-block;
	padding-bottom:1.2em;
	float:left;
	width:100%;
	
}
.nombre-persona{
	font-size:1.5em;
	font-weight:500;
}


.foto-persona img{
	width:80%;
	height:auto;
	max-width:400px;
	border-radius: 50%;
	
}
.div-menu{
	float:left;
	padding-top:2em;
	display:inline-block;	
	width:100%;
}
.div-menu ul li{
	padding:0.5em 0;
	font-size: 1em;
	
}
.div-menu ul li a{
	color:#D8D8D8;
	
}
.div-menu ul li a:hover{
	color:#EC6E00;
	text-decoration:none;	
}



.menu-izquierda a{
	color:#D8D8D8;
	
}

.menu-izquierda a:hover{
	color:#E90C2F;
	text-decoration:none;
	
}


.contenido{
	float: left;
	background-color:#F2EEEE;
	min-height:100%;
	color:#595151;
	padding:2em;
	flex: 0 0 78%;
	max-width:78%;
	box-sizing: border-box;

}
.titulo-contenido{
	font-size:1.5em;
	font-weight:600;
	margin-bottom:2em;
}


.fa:before {
	margin-right:10px;
	
}

.boton-gris-ref-submenu{
	background-color:#d8d8d8;
	border:1px #979797 solid;
	/*border-bottom: 0.3em #0F87EC solid;*/
    padding: 1em 0px 1em 0;
    width: 50% !important;
    color: #414141;
    cursor: pointer;
	margin:0 auto;
	border-radius: 6px;
    -moz-border-radius: 6px;
	font-size:1em;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	margin-bottom:2em;
	margin-top:1em;
	min-width:160px;
	-webkit-appearance: none;
}
.boton-gris-ref-submenu:hover{
	background-color:#414141;
	border:1px #d8d8d8 solid;
	color:#d8d8d8;
	/*border-bottom: 0.3em #D56500 solid;*/
	
	
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  /*background: white;*/
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  /*background: #36304a;*/
 
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #595151;
  
  line-height: 1.2;
  font-weight: unset;
}

tbody{
	background-color:#fff;
	
}
tbody tr:nth-child(even) {
  background-color: #d8d8d8;
}

tbody tr {
 font-size: 15px;
  color: #484848;
  line-height: 1.2;
  font-weight: unset;
}
/* tabla hover*/
tbody tr:hover {
  color: #555555;
 /* background-color: #f5f5f5;
  background-color: #c8c8c8;*/
  /*cursor: pointer;*/
}
.ordentabla .fa{
	width:20%;
   text-align: center;
 
}
.titulotabla:hover{
	color:#FF1718;
	cursor:pointer;
	
}




.column1 {
 	width:25%;
   text-align: center;
 
}
.column2 {
 	width:25%;
   text-align: center;
 
}
.column3 {
 	width:35%;
   text-align: center;
 
}
.column4 {
 	width:15%;
   text-align: center;
 
}

#buscar{
	border-radius:10px;
	line-height:30px;
	background-color:transparent;
	border:1px #979797 solid;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
#buscar::placeholder {
  /*color: #000;*/
  
}
#buscar {
  color: #000;
   padding-left: 30px;
}
#buscar:focus {
  color: #000;
  background-color:#fff;
  
}


#filtersubmit {
    position: relative;
    z-index: 1;
    left: 10px;
    top: 1px;
    color: #000;
    width: 0;
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ELEMENTOS COMUNES PRINCIPALES >>>>>>>>>>*/
ol, ul, li{
list-style: outside none none;
margin: 0;
padding: 0;
}


.row{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.row:after,.row:before{
	display:table;
	content:" "
}

.col1{
	width:8%;
	width:7.5%;
}
.col1-5{
	
	width:10%;
}

.col2{
	width:15%;
}
.col2-5{
	width:19%;
}
.col3{
	width:25%;
}
.col3-5{
	
	width:30%;
}
.col4{
	width:33%;
}
.col4-5{
	width:34.5%;
}
.col5{
	/*width:40.5%;*/
	width:39%;
}
.col5-5{
	/*width:40.5%;*/
	width:43%;
}
.col6{
	width:50%;
}
.col6-5{
	width:55%;
}
.col7{
	width:57%;
}
.col7-5{
	width:62.25%;
}
.col8{
	width:66%;
	width:67%;
	/*width:70%;*/
}
.col8-5{
	width:70%;
	
}
.col9-5{
	width:80.5%;
	width:80%;
}
.col9{
	width:74.5%;
}
.col10{
	/*width:83%;*/
	width:85%;
}
.col10-5{
	/*width:83%;*/
	width:89%;
}
.col11{
	width:91.5%;
}
.col12{
	width:100%;
}

.col1, .col1-5,.col1, .col2,.col2-5, .col3,.col3-5, .col4, .col5, .col5-5, .col6, .col6-5, .col7, .col8, .col8-5, .col9,.col9-5, .col10, .col10-5, .col11, .col12, .col1m, .col3-5, .col4-5, .col7-5{
	box-sizing: border-box;
	float:left;/**/
	padding:0px;
}
.izquierda{
	text-align:left !important;
	
}
.centrado{
	text-align:center !important;
	
}
.derecha{
	text-align:right;
	
}
.justificado{
	text-align:justify !important;
	
}
.negrita{
	font-weight:600;
}
.cursiva{
	font-style:italic;
}

.cat-referencia{
	text-align:center;
	margin-bottom:1.4em;
	
}
.cat-referencia img{
	
	margin-bottom:0.6em;
	border:1px #979797 solid;
	opacity:1;
	width:80%;
	height:80%;
}
.cat-referencia img:hover{
	border:1px #ddd solid;
	opacity:0.6;
	
}
.titulo-cat-referencia{
	width:100%;
	
}
.links-referencias a{
	color:#595151;
	
}
.links-referencias a:hover{
	text-decoration:none;
	
	color:#979797;
	
}





	@media  (max-width:970px) {
		 
		  .menu-izquierda{
	
	/*min-width:200px;*/
	
	}
	}
	
	
	
	
	
	@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 20px;
	
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Categoría";
  }
  table tbody tr td:nth-child(2):before {
    content: "Marca";
  }
  table tbody tr td:nth-child(3):before {
    content: "Modelo";
  }
  table tbody tr td:nth-child(4):before {
    content: " ";
  }
  table tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  table tbody tr td:nth-child(6):before {
    content: "Total";
  }

  .column4,
  .column5,
  .column6 {
   /* text-align: left;*/
  }
  .column4 .boton-azul-ver{
	  width:70%
	  
	 }

  .column4,
  .column5,
  .column6,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}

	@media  (max-width:870px) {
	
		  .links-referencias .col4{
			 width:50%; 
			}
			
			
			.menu-izquierda {
   
   			 padding: 2em 0.5em;
			}
			.div-menu {
    
    		padding-top: 1em;
    		font-size: 0.7em;
			    
			}
		 
	}
	
	@media  (max-width:736px) {
	.contenido{
		   /* width: 68%;*/
			padding:1em;
		  }
		  
		 .titulo-contenido {
    
    margin-bottom: 1em;
		}
	}
	
	
	
	
	
	@media  (max-width:680px) {
		  .contenido{
		    padding:1em;
			display: block;
			position: relative;
			top: 120px !important;
			z-index: 0;
			flex: 0 0 100%;
   			max-width: 100%;
		  }
		  
		  .col1,.col2,.col3,.col4,.col5,.col6{
			  width:100% !important;
			  
			  }
			  #buscar{
				  margin-bottom:1em;
				  
				 }
				 
				 .cajalogin {
				/* width: 100%; */
				padding: 1.5em 1em;
			}
			.logo{
				margin: 0.5em 0 2em 0;
			}
			.nombre-persona {
    font-size: 1.2em;
			}
			
			/* nuevo*/
			.menu-izquierda {
				padding: 0.5em 0.9em;
				flex: 0 0 100%;
				max-width: 100%;
				display: flex;
				min-height:auto !important;
				display: flex;
				  position: fixed;
				  top: 0;
				  left: 0;
				  right: 0;
			}
			.div-persona {
    			width: 25%;
				flex: 0 0 40%;
				order: 2;
				font-size: 0.8em;
			}
			.foto-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 40%;
			}
			.descripcion-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 60%;
			}
			.nombre-persona {
				font-size: 1.1em;
			}
			.div-menu {
				padding-top: 0em;
    			font-size: 0.7em;
				display: flex;
				flex: 0 0 60%;
				max-width: 60%;
				order: 1;
				}
				.div-salir {
				position: absolute;
				bottom: 0.5em;
				right: 1em !important;
				font-size: 0.9em !important;
				left:unset;
			}
		 
	
	}
@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
}

/*ipad*/
	@media only screen 
and (max-device-width : 768px) 
and (orientation : portrait) { 
	
	
}
@media only screen 
and (max-device-width : 768px) 
and (orientation : landscape) { 
	
	
	
}

/*iphone*/
/*@media only screen 
and (max-device-width : 375px) */
@media only screen 
and (max-device-width : 680px)
 { /* STYLES GO HERE */
 
 
	.cajalogin {
    /* width: 100%; */
    padding: 1.5em 1em;
}
.contenedor-principal-login {
    
    height: 100%;
	}
	/* nuevo*/
			.menu-izquierda {
				padding: 0.5em 0.9em;
				flex: 0 0 100%;
				max-width: 100%;
				display: flex;
				min-height:auto !important;
				display: flex;
			  position: fixed;
			  top: 0;
			  left: 0;
			  right: 0;
			  z-index: 200;
			}
			.div-persona {
    			width: 40%;
				flex: 0 0 40%;
				flex: 0 0 auto;
				order: 2;
				font-size: 0.8em;
			}
			.foto-persona {
				display: block;
				padding-bottom: 1.2em;
				float: left;
				width: 35%;
			}
			.nombre-persona {
				font-size: 0.8em;
			}
			.div-menu {
				padding-top: 0em;
    			font-size: 0.7em;
				display: flex;
				flex: 0 0 60%;
				max-width: 60%;
				order: 1;
				}
				.div-salir {
				position: absolute;
				bottom: 0.4em;
				right: 1em !important;
				font-size: 0.9em !important;
				left: unset;
				}
			.div-menu ul li {
    			padding: 0.2em 0;
			}
			.contenido{
				display: block;
				position: relative;
				top: 120px !important;
				z-index: 0;
				flex: 0 0 100%;
   				 max-width: 100%;
				
			}
 }





