@charset "utf-8";
/* CSS Document */

/* Import fonts from Google */

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i);


*{


box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */ -webkit-box-sizing:border-box; /* Safari */
	
}


html, body{
	height: 100%;
}
body { 
	z-index: 9 ;
	margin:0;
	background-color:#F2EEEE;
	
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	font-size:1.2em;
	margin: 0;
    
}
#bodyblanco{
	
	background-color:#fff !important;
	
}

.open-menu {
  
	 opacity: 1 !important;
	  display:block !important;
	
	
}

.close-menu {
   
   
	 opacity: 0 !important; 
	display:none !important;
   
	 
}

/*.principallogin {
   position:absolute;  
    top: 50%;  
    left: 50%;  
    width:30em;  
    height:18em;  
    margin-top: -15em; 
    margin-left: -15em; 
	max-width:100%;
	 background-color: #fff; 
	 float:left;
    
}*/
.principallogin {
  width:100%;
    
}

.principallogins {
    margin: 0 auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 30em;
    height: 18em;
    /* margin-top: -15em; */
    /* margin-left: -15em; */
    max-width: 100%;
}
.contenedor-principal-login {
    background-color: #fff;
    width: 100%;
    float: left;
    height: auto;
}
.login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
}
.logo{
	margin: 2em 0;
}
.logo img{
	width:65%;
	height:65%;
	min-width:200px;
}
.cajalogin{
	/*width:100%;*/
	border:1px #979797 solid;
	background-color:#F6F6F6;
	padding:1.5em 5em;
	text-align:justify;
	float:left;
	
}
.titulo-campo{
	font-weight:600;
	/*padding:0.5em 0em !important;*/
	
}
.control-texto{
    box-shadow: none;
    display: block;
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
    border: 1px solid #9e9e9e;
	padding: 4px;
	margin:1em 0;
	font-family: 'Muli', sans-serif;
	
    
}
/*.control-texto-buscar{
    box-shadow: none;
    display: block;
    width: 100%;
    height: 65px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
	border:0;
    border: 1px solid #979797;
	padding: 4px;
	margin:1em 0;
	
    
}*/
.control-texto-buscar {
    box-shadow: none;
    display: block;
    width: 100%;
    /* height: 65px; */
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
    border: 0;
    border: 1px solid #979797;
    padding: 4px;
    margin: 0;
	font-family: 'Muli', sans-serif;
}

.control-select-buscar {
    box-shadow: none;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #d8d8d8;
    border: 1px solid #979797;
    padding: 4px;
    /* margin: 1em 0; */
    color: #000;
	font-family: 'Muli', sans-serif;
}
.control-select-buscar option { color:#000; background-color:#f7f7f7;  }
select.control-select-buscar option:hover { color:yellow; background-color:red; }

select.control-select-buscar option:not(:checked) { 
    background-color: #e8e8e8; 
    color:#000;
	padding:2em;
	
}
.control-select-blanco {
    box-shadow: none;
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    padding: 4px;
    line-height: 2em;
    color: #555;
    background-color: #fff;
    border: 1px solid #979797;
    padding: 4px;
    /* margin: 1em 0; */
    color: #000;
	font-family: 'Muli', sans-serif;
}
.control-select-blanco option { color:#000; background-color:#f7f7f7;  }
select.control-select-blanco option:hover { color:yellow; background-color:red; }

select.control-select-blanco option:not(:checked) { 
    background-color: #fff; 
    color:#000;
	padding:2em;
	
	
}
input
{
	font-family: 'Muli', sans-serif;
}

.boton-azul{
	background-color:#1996FF;
	border:0;
	border-bottom: 0.3em #0F87EC solid;
    padding: 0.6em 0px 0.4em 0;
    width: 100% !important;
    color: #fff;
    cursor: pointer;
	margin:0.8em 0;
	border-radius: 0.2em;
    -moz-border-radius: 0.2em;
	font-size:1em;
	/*-moz-border-radius: 3px;
    -webkit-border-radius: 3px;*/
    -webkit-appearance: none;	
}


.boton-azul:hover, .link-azul-categoria:hover{
	background-color:#EC6E00;
	border-bottom: 0.3em #D56500 solid;
	
	
}
.botones-centrados {
    text-align: center;
    /*padding: 1em 0 0 0;*/
    max-width: 300px;
    margin: 0 auto;
}
.link-azul-categoria {
    background-color: #1996FF;
    border: 0;
    border-bottom: 0.3em #0F87EC solid;
    padding: 1.2em 2em 1em 2em;
    width: 100% !important;
    color: #fff;
    cursor: pointer;
    margin: 0.4em 0;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    font-size: 1em;
    -webkit-appearance: none;
    color: #fff !important;
	display:block;
}


.boton-azul-ver{
	background-color:#1996FF;
	border:0;
	/*border-bottom: 0.3em #0F87EC solid;*/
    padding: 0.6em 0px 0.6em 0;
    width: 80% !important;
    color: #fff;
    cursor: pointer;
	margin:0.8em 0;
	border-radius: 8px;
    -moz-border-radius: 8px;
	font-size:1em;
	-webkit-appearance: none;
	
}
.boton-azul-ver:hover{
	background-color:#EC6E00;
	/*border-bottom: 0.3em #D56500 solid;*/
	
	
}

.boton-azul-accion{
	background-color:#1996FF;
	border:0;
	/*border-bottom: 0.3em #0F87EC solid;*/
    width: fit-content !important;
    color: #fff;
    cursor: pointer;
	padding: 0.6em 1em;
	border-radius: 8px;
    -moz-border-radius: 8px;
	font-size:0.9em;
	-webkit-appearance: none;
	
}
.boton-azul-accion:hover{
	background-color:#EC6E00;
	/*border-bottom: 0.3em #D56500 solid;*/
	
	
}
.padding-top1{
	padding-top:1em !important;
}

a{
	color:#000;
	text-decoration:none	
}
a:hover{
	color:#E90C2F;
	text-decoration:underline;
	
}
.salir a:hover{
	text-decoration:none;
	color:#E90C2F	;
}

.contenedor-principal {
   /* background-color: #ccc;*/
    width: 100%;
    float: left;
   /* height: 100%;*/
	display:table;
	display:flex;
	flex-wrap: wrap;
}
.contenedor-header{
	background-color:#fff;
	display:flex;
	flex-flow: rowrap;
	justify-content: space-between;
	width:100%;
	padding: 0.3em 2em 0.3em 2.5em;
	z-index:500;
	position: fixed !important;
	
}
.logoheader{
	
}
.logoheader img{
	width:80%;
	max-width:200px;
	
	
}
.salir {
	padding-top:0.8em;
    

	
	
}
.contenedor-contenido {
   /* background-color: #ccc;*/
    width: 100%;
    float: left;
   /**/ height: 100%;
	display:flex;
	/*flex: 0 0 22%;
	max-width:22%;
	flex-wrap: wrap;*/
	position:relative;
	top: 60px !important;
	  
}
.menu-izquierda{
	background-color:#000;
	float: left;
	color:#D8D8D8;
	padding: 2em 1em;
	position:relative;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	font-weight:300;
	font-size:1em;
	/*display:table-cell;*/
	flex: 0 0 22%;
	max-width:22%;
	box-sizing: border-box;
	z-index: 200;
	position: absolute;
    height: 100%;
	/*height: auto;*/
	min-height:100vh;
	opacity:1;
}
.div-persona{
	margin:0 auto;
	float:left;
	width:100%;
	text-align:center;
	display:inline-block;

}
.foto-persona{
	display:inline-block;
	padding-bottom:1.2em;
	float:left;
	width:100%;
	
}
.descripcion-persona{
	display:inline-block;
	padding-bottom:1.2em;
	float:left;
	width:100%;
	
}
.nombre-persona{
	font-size:1.5em;
	font-weight:500;
}


.foto-persona img{
	width:80%;
	height:auto;
	max-width:400px;
	border-radius: 50%;
	
}
.div-menu{
	float:left;
	padding-top:2em;
	display:inline-block;	
	width:100%;
}
.div-menu ul{
				width:100%;
				
			}
.div-menu ul li{
	padding:0.5em 0;
	font-size: 1em;
	
}
.div-menu ul li a{
	color:#D8D8D8;
	
}
.div-menu ul  a:hover{
	color:#EC6E00;
	text-decoration:none;	
}



.menu-izquierda a{
	color:#D8D8D8;
	
}

.menu-izquierda a:hover{
	color:#E90C2F;
	text-decoration:none;
	
}
.btn-display-menu {
    padding-top: 14px;
    float: left;
    width: 3%;
    min-width: 35px;
    height: auto;
    left: 0em;
    position: absolute;
	display:none;
}

.contenido{
	float: left;
	background-color:#F2EEEE;
	min-height:100%;
	color:#595151;
	padding:2em;
	flex: 0 0 78%;
	max-width:78%;
	box-sizing: border-box;
	margin-left:22%;

}
.titulo-contenido{
	font-size:1.5em;
	font-weight:600;
	margin-bottom:2em;
}
.titulo-contenido-sp{
	font-size:1.5em;
	font-weight:600;
	
}
.titulo-detalleproducto{
	font-size:1.5em;
	font-weight:800;
	
}
.titulo-detalleventana{
	font-size:1.5em;
	font-weight:800;
	color:#3C3C3C;
	
}



.fa:before {
	margin-right:10px;
	
}

.boton-gris-ref-submenu{
	background-color:#d8d8d8;
	border:1px #979797 solid;
	/*border-bottom: 0.3em #0F87EC solid;*/
    padding: 1em 0px 1em 0;
    width: 50% !important;
    color: #414141;
    cursor: pointer;
	margin:0 auto;
	border-radius: 6px;
    -moz-border-radius: 6px;
	font-size:1em;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Muli', sans-serif;
	margin-bottom:2em;
	margin-top:1em;
	min-width:160px;
	-webkit-appearance: none;
}
.boton-gris-ref-submenu:hover{
	background-color:#414141;
	border:1px #d8d8d8 solid;
	color:#d8d8d8;
	/*border-bottom: 0.3em #D56500 solid;*/
	
	
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

/*table {*/
.tabla-resultados{
  border-spacing: 1;
  border-collapse: collapse;
  /*background: white;*/
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.tabla-resultados * {
  position: relative;
}
.tabla-resultados td, .tabla-resultados th {
  padding-left: 8px;
}
.tabla-resultados thead tr {
  height: 60px;
  /*background: #36304a;*/
 
}
.tabla-resultados tbody tr {
  height: 50px;
}
.tabla-resultados tbody tr:last-child {
  border: 0;
}
.tabla-resultados td, .tabla-resultados th {
  text-align: center;
}
.tabla-resultados td.l, .tabla-resultados th.l {
  text-align: right;
}
.tabla-resultados td.c, .tabla-resultados th.c {
  text-align: center;
}
.tabla-resultados td.r, .tabla-resultados th.r {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #595151;
  
  line-height: 1.2;
  font-weight: unset;
}

.tabla-resultados tbody{
	background-color:#fff;
	    border: 1px solid #D8D8D8;
	
}
.tabla-resultados tbody tr:nth-child(even) {
  background-color: #d8d8d8;
}

.tabla-resultados tbody tr {
 font-size: 15px;
  color: #484848;
  line-height: 1.2;
  font-weight: unset;
}
/* tabla hover*/
.tabla-resultados tbody tr:hover {
  color: #555555;
 /* background-color: #f5f5f5;
  background-color: #c8c8c8;*/
  /*cursor: pointer;*/
}
.ordentabla .fa{
	width:20%;
   text-align: center;
 
}
.titulotabla:hover{
	color:#FF1718;
	cursor:pointer;
	
}





.colver{
 	width:15%;
   text-align: center;
 
}

#buscar{
	border-radius:10px;
	line-height:30px;
	background-color:transparent;
	border:1px #979797 solid;
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}
#buscar::placeholder {
  /*color: #000;*/
  
}
#buscar {
  color: #000;
   padding-left: 30px;
}
#buscar:focus {
  color: #000;
  background-color:#fff;
  
}


#filtersubmit {
    position: relative;
    z-index: 1;
    left: 10px;
    top: 1px;
    color: #000;
    width: 0;
}




/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< ELEMENTOS COMUNES PRINCIPALES >>>>>>>>>>*/
ol, ul, li{
list-style: outside none none;
margin: 0;
padding: 0;
}


.row{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.row:after,.row:before{
	display:table;
	content:" "
}

.col1{
	width:8%;
	width:7.5%;
}
.col1-5{
	
	width:10%;
}

.col2{
	width:15%;
}
.col2-5{
	width:19%;
}
.col3{
	width:25%;
}
.col3-5{
	
	width:30%;
}
.col4{
	width:33%;
}
.col4-5{
	width:34.5%;
}
.col5{
	/*width:40.5%;*/
	width:39%;
}
.col5-5{
	/*width:40.5%;*/
	width:43%;
}
.col6{
	width:50%;
}
.col6-5{
	width:55%;
}
.col7{
	width:57%;
}
.col7-5{
	width:62.25%;
}
.col8{
	width:66%;
	width:67%;
	/*width:70%;*/
}
.col8-5{
	width:70%;
	
}
.col9-5{
	width:80.5%;
	width:80%;
}
.col9{
	width:74.5%;
}
.col10{
	/*width:83%;*/
	width:85%;
}
.col10-5{
	/*width:83%;*/
	width:89%;
}
.col11{
	width:91.5%;
}
.col12{
	width:100%;
}

.col1, .col1-5,.col1, .col2,.col2-5, .col3,.col3-5, .col4, .col5, .col5-5, .col6, .col6-5, .col7, .col8, .col8-5, .col9,.col9-5, .col10, .col10-5, .col11, .col12, .col1m, .col3-5, .col4-5, .col7-5{
	box-sizing: border-box;
	float:left;/**/
	    padding: 0px 0px 0.1px 0px;
}
.izquierda{
	text-align:left !important;
	
}
.centrado{
	text-align:center !important;
	
}
.derecha{
	text-align:right;
	
}
.justificado{
	text-align:justify !important;
	
}
.negrita{
	font-weight:600;
}
.cursiva{
	font-style:italic;
}

.cat-referencia, .cat-entrenamiento{
	text-align:center;
	margin-bottom:1.4em;
	
}
.cat-referencia img, .cat-entrenamiento img{
	
	margin-bottom:0.6em;
	border:1px #979797 solid;
	opacity:1;
	width:80%;
	height:80%;
}
.cat-referencia img:hover, .cat-entrenamiento img:hover{
	border:1px #ddd solid;
	opacity:0.6;
	
	
}
.titulo-cat-referencia{
	width:100%;
	width: 80%;
    margin: 0 auto;
	
}
.visto{
	width:100%;
	width: 80%;
    margin: 0 auto;
	font-size:0.8em;
	line-height:0.8em;
	min-height:0.8em;
	font-weight: 300;
    
	
}
.video-mini{
	width: 80%;
    margin: 0 auto;
    height: 235px;
    margin-bottom: 1em;
	
}
.links-referencias a{
	color:#595151;
	
}
.links-referencias a:hover{
	text-decoration:none;
	
	color:#979797;
	
}




.anchocontenido {
    margin-left: 22% !important;
    transition: width .5s ease-in-out;
}
.texto-menu{
	display:inline-block;
	
	
}
.div-menu .fa, .div-menu .fas, .div-menu .fab {
    position: absolute;
    text-align: center;
    line-height: inherit;
}
[class^="texto-menu"], [class*=" texto-menu"] {
display: inline;
width: auto;
height: auto;
line-height: normal;
vertical-align: baseline;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
margin-top: 0;
 position: relative;
    left: 1.8em;
	    padding-right: 1.5em;
}
.salir .fa:before {
    margin-right: 3px;
}
.select2-container {
   
    width: 100% !important;
}
.select2-container--default .select2-selection--single {
    background-color: #D8D8D8 !important;
    
    border-radius: 0px !important;
    height: 42px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 5px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   top: 8px !important;
    
}

.detalle-referencia {
    background-color: #fff;
    margin: 0 1em 2em 1em;
    width: 95%;
	padding:1.5em 2em;
	font-size:0.9em !important;
	font-weight:600;
	line-height:1.4em;
}
.thumb-producto img{
	border:1px solid #979797;
	width:95%;
	max-width:48px;
	
}
.img-producto .col12{
	margin-left:2em;
	border: 1px solid #979797;
	
}


.img-producto img{
	
	width:100%;
	/*max-width:302px;*/
	
	
	
}
.ver-imagen{
	font-size:0.7em;
	font-weight:300;
	text-align:right !important;
	
}
.imagen-thumb img:hover{
	opacity:0.6;
	border:1px #E90C2F solid;
	
	
}
.recuadro-valores {
    color: #fff;
    width: fit-content;
    padding: 0.5em 1.5em;
    float: right;
	    margin-top: 1em;
	
}
.recuadro {
    color: #fff;
    width: fit-content;
    padding: 0.5em 1em;
    margin: 0.5em 0em;
	text-align: center;
}
.recuadro-estado {
    color: #fff;
    width: 90%;
    padding: 0.5em 1em;
    margin: 0.5em auto;
    text-align: center;
}
.fondonegro{
	background-color:#000;
}
.fondoazulverde{
	background-color:#153957;
}
.fondoazul{
	background-color:#3370DD;
}
.fondoverde{
	background-color:#417505;
}
.fondoamarillo{
	background-color:#F5A623;
}
.fondonaranja{
	background-color:#F53423;
}
.padd-b-2em{
	padding-bottom:2em;
	
}
.padd-1-5em{
	padding:1.5em;
	
}
.padd-2em{
	padding:2em;
	
}
.padd-h-2em{
	padding-right:2em;
	padding-left:2em;
	
}
.padd-h-1em{
	padding-right:1em;
	padding-left:1em;
	
}

.contenedor-principal-blanco {
    background-color: #fff;
    width: 100%;
    float: left;
    height: auto;
	border:1px #979797 solid;
	padding: 2em 1em;
}
.titulo-caracteristica{
	color:#B5B3B3;
	padding-top: 0.5em;
	
}
.titulo-caracteristicab {
    color: #908C8C;
    padding-top: 0.5em;
    font-weight: 700;
    display: inline-block;
    padding-right: 0.5em;
}
.caracteristicab {
    padding-top: 0.5em;
	color:#999595;
    display: inline-block;
	font-weight:300;
}
.wifi {
    background-color: #4CAF50;
    color: #fff;
    padding: 0 0 0 0em;
    border-radius: 100%;
    padding: 0.1em 0 0.1em 0.1em;
   
    width: fit-content;
}
.wifi .fa {
    padding-left: 0.3em;
}

.seccion-precios-prestamos{
	margin:1em 0;
}
.titulo-secc-precios-prestamos {
    border-bottom: 1px #979797 solid;
    line-height: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
	color:#515151;
	font-size: 1.1em;
}
.precio-secc-precios-prestamos{
	text-align:center;
	font-size:1.1em;
	font-weight:700;
	color: #515151;
	
}


	@media  (max-width:970px) {
		 
		  .menu-izquierda{
	
	/*min-width:200px;*/
	
	}
	.padd-1-5em{
		padding:1.5em 1em;
	
	}
	}
	
	
	
	
	
	@media screen and (max-width: 992px) {
  .tabla-resultados {
    display: block;
  }
  .tabla-resultados > *, .tabla-resultados tr, .tabla-resultados td, .tabla-resultados th {
    display: block;
  }
  .tabla-resultados thead {
    display: none;
  }
  .tabla-resultados tbody tr {
    height: auto;
    padding: 37px 0;
  }
  .tabla-resultados tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  .tabla-resultados tbody tr td:last-child {
    margin-bottom: 0;
  }
  .tabla-resultados tbody tr td:before {
    font-size: 20px;
	
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  .tabla-resultados tbody tr td:nth-child(1):before {
    content: "Categoría";
  }
  .tabla-resultados tbody tr td:nth-child(2):before {
    content: "Marca";
  }
  .tabla-resultados tbody tr td:nth-child(3):before {
    content: "Modelo";
  }
  .tabla-resultados tbody tr td:nth-child(4):before {
    content: " ";
  }
  .tabla-resultados tbody tr td:nth-child(5):before {
    content: "Quantity";
  }
  .tabla-resultados tbody tr td:nth-child(6):before {
    content: "Total";
  }

  
  .colver .boton-azul-ver{
	  width:70%
	  
	 }

 
  .colver {
    width: 100%;
  }

  .tabla-resultados tbody tr {
    font-size: 14px;
  }
}

	@media  (max-width:870px) {
	
		  .links-referencias .col4{
			 width:50%; 
			}
			
			
			.menu-izquierda {
   
   			 padding: 2em 0.5em;
			}
			.div-menu {
    
    		padding-top: 1em;
    		font-size: 0.7em;
			    
			}
		 
	}
	
	@media  (max-width:736px) {
	.contenido{
		   /* width: 68%;*/
			padding:1em;
		  }
		  
		 .titulo-contenido {
			margin-bottom: 1em;
			margin-left: 1em;
		}
		.seleccion-caracteristicas >.col4{
			width:50%;
			
		}
		.padd-1-5em {
		padding: 1em 1em 0.5em 1em;
	}
	}
	
	
	
	
	
	@media  (max-width:680px) {
		  .contenido{
		    padding:1em;
			display: block;
			position: relative;
			/*top: 120px !important;*/
			z-index: 0;
			flex: 0 0 100%;
   			max-width: 100%;
			margin-left: 0%;
		  }
		  
		  
			  #buscar{
				  margin-bottom:1em;
				  
				 }
				 
				 .cajalogin {
				/* width: 100%; */
				padding: 1.5em 1em;
			}
			.logo{
				margin: 0.5em 0 2em 0;
			}
			.nombre-persona {
    font-size: 1.2em;
			}
			
			/* nuevo*/
			.menu-izquierda {
				padding: 0.5em 0.2em;
				flex: 0 0 40%;
				max-width: 40%;
				max-width: 50% !important;
				width:35% !important;
				display: flex;
				min-height: auto !important;
				flex-flow: column;
				position: fixed;
				height:auto !important;
				display:none;
			}
			.div-persona {
				width: 100%;
				/* flex: 0 0 100%; */
				order: 2;
				font-size: 0.8em;
				display: none;
			}
			.foto-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 40%;
				    
			}
			.descripcion-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 60%;
			}
			.nombre-persona {
				font-size: 1.1em;
			}
			.div-menu {
				padding-top: 0em;
    			font-size: 0.7em;
				display: flex;
				flex: 0 0 100%;
				max-width: 100%;
				order: 2;
				padding-left: 1em;
				}
				.div-salir {
				position: absolute;
				bottom: 0.5em;
				right: 1em !important;
				font-size: 0.9em !important;
				left:unset;
			}
			.btn-display-menu {
    
			display:block;
			padding-left: 0.5em;
			}
			
		 .open-menu {
  
			-webkit-transition: all 2s ease-out;
			  -moz-transition: all 2s ease-out;
			  -ms-transition: all 2s ease-out;
			  -o-transition: all 2s ease-out;
			  transition: all 2s ease-out;
			  opacity: 0.9 !important;/**/
			  display:block !important;
		}
	.img-producto .col12 {
    	margin-left: unset;
   
	}
	}
@media (max-width: 576px), only screen 
and (max-device-width : 576px) 
and (orientation : landscape) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .col1,.col2,.col3,.col4,.col5,.col6,.col5-5{
			  width:100% !important;
			  
			  }
	.thumb-producto{
		margin:1em 0;
		text-align:center !important;
		
	}
	.thumb-producto .col6{
		width:25% !important;
		
	}
	.img-producto {
    margin-left: 0em;
	}
	.img-producto img {
		
		max-width: unset !important;
	}
	.padd-1-5em {
    padding: 1em 1em 0.5em;
}
.img-producto .col12 {
    	margin-left: unset;
   
	}
	.caracteristicas .col5{
		width:50% !important;
		
	}
/*	.recuadro-estado {
		font-size:0.7em;
	}*/
	
	.contenedor-principal-blanco {
		
		padding: 1em 1em;
	}
	
  
}
@media only screen 
and (max-device-width : 670px) 
and (orientation : landscape) {
	.recuadro-estado {
		font-size:0.7em;
	}
	
	.contenedor-principal-blanco {
		
		padding: 1em 1em;
	}
	
}

/*ipad*/
	@media only screen 
and (max-device-width : 768px) 
and (orientation : portrait) { 
	
	
}


/*iphone*/
/*@media only screen 
and (max-device-width : 375px) */
@media only screen 
and (max-device-width : 680px)
 { /* STYLES GO HERE */
 
 
	.cajalogin {
		/* width: 100%; */
		padding: 1.5em 1em;
	}
	.contenedor-principal-login {
    	height: 100%;
	}
	/* nuevo*/
			 .contenido{
		    padding:1em;
			display: block;
			position: relative;
			/*top: 120px !important;*/
			z-index: 0;
			flex: 0 0 100%;
   			max-width: 100%;
			margin-left: 0%;
		  }
		  
		  .col1,.col2,.col3,.col4,.col5,.col6{
			 /* width:100% !important;*/
			  
			  }
			  #buscar{
				  margin-bottom:1em;
				  
				 }
				 
				 .cajalogin {
				/* width: 100%; */
				padding: 1.5em 1em;
			}
			.logo{
				margin: 0.5em 0 2em 0;
			}
			.nombre-persona {
    font-size: 1.2em;
			}
			
			/* nuevo*/
			
			.menu-izquierda {
				padding: 0.5em 0.2em;
				flex: 0 0 40%;
				max-width: 40%;
				display: flex;
				min-height: 100% !important;
				flex-flow: column;
				position: fixed;
				display:none;
				overflow-y: auto;
				z-index:200;
			}
			
			.div-persona {
				width: 100%;
				/* flex: 0 0 100%; */
				order: 2;
				font-size: 0.8em;
				    display: none;
			}
			.foto-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 40%;
				    
			}
			.descripcion-persona {
				display: inline-block;
				padding-bottom: 1.2em;
				float: left;
				width: 60%;
			}
			.nombre-persona {
				font-size: 1.1em;
			}
			.div-menu {
				padding-top: 0em;
    			font-size: 0.7em;
				display: flex;
				flex: 0 0 100%;
				max-width: 100%;
				order: 2;
				    padding-left: 0.5em;
				}
				.div-salir {
				position: absolute;
				bottom: 0.5em;
				
				right: 1em !important;
				font-size: 0.9em !important;
				left:unset;
			}
			.contenedor-header {
   
    			padding: 0.3em 1em 0.3em 1.5em;
			}
			.btn-display-menu {
				
				
				
			}
			.btn-display-menu {
    
			display:block;
			}
			.texto-menu {
    
			display:none;
			}
			.div-menu .fa {
    			position: relative !important;
			}
 }
 @media only screen 
and (max-device-width : 680px) 
and (orientation : landscape) { 
	
		.texto-menu {
    
			display:inline-block;
			}
			.menu-izquierda {
			padding: 0.5em 0.5em 0.5em 0.2em;
			flex: 0 0 80%;
			max-width: 80%;
			width:auto !important;
			    min-height: unset !important;
			}
			[class^="texto-menu"], [class*=" texto-menu"] {
			     left: unset;
			}
	
}
 @media only screen 
and (max-device-width : 680px) 
and (orientation : portrait)
 , (max-width: 430px)  { 
	
			.menu-izquierda {
			padding: 0.5em 0.2em;
			padding: 0.2em 0em;
			flex: 0 0 80%;
			max-width: 80%;
			width:auto !important;
			height: 100% !important;
			width: auto !important;
			}
			.div-menu {
    padding-top: 0em;
    font-size: 0.7em;
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    order: 2;
    padding-left: 0em;
}
.div-menu ul li {
    padding: 0.5em 0;
    font-size: 1.2em;
    margin: 0;
    border-bottom: 1px solid #fff;
}
.div-menu .fa {
    position: relative !important;
    padding: 0.5em 0.2em 0.5em 0.8em;
}
.titulo-contenido {
    margin-bottom: 1em;
    margin-left: 1em;
}

	
}





